header {
    text-align: center;
    background-color: #D2B48C;
}

nav {
    text-align: center;
    font-weight: bold;
}

body {
    background-color: #FCEBB6;
}

h2 {
    font-weight: bold;
}

dt {
    font-weight: bold;
}

footer {
    text-align: center;
    font-style: italic;
    background-color: #D2B48C;
}
